html,body{
    height: 100%;
    max-height:100%;
    font-family: 'Roboto', sans-serif;
    background-color: #edeef0;
}
.navbar{
    margin-bottom:0;
}
.wrapper{
    padding-bottom: 100px;
}
.footer{
    margin-bottom: -100px;
    background-color: white;
    height:200px;
}
.section-top{
    margin-bottom:20px;
}
.product-item{
    height:370px;
    background-color: white;
    border:1px solid lightgray;
    position: relative;
    padding:10px 0 10px 0;
    text-align: center;
    margin-bottom: 10px;
}

.add-to-card-btn{
    position: absolute;
    bottom: 15px;
    left: 50px;
}
.discount-container{
    position: absolute;
    top: 30%;
    background-color: #70bf8c;
    width: 30%;
    padding: 3px;
    color: white;
    font-weight: 700;
    
}
.section-delivery{
    height: 300px;
    background-color: darkseagreen;
    text-align: center;
    color: white;
}
.product-description-tabs{
    padding:10px;
}
.product-image-item{
    padding:5px;
    margin-bottom:5px;
}
.navbar-top{
    min-height:10px;
    height:20px;
    background-color: green;
    border:none;
    border-radius:0;
}

.navbar-main{
    background-color: aquamarine;
    border:none;
    border-radius:0;
}
.basket-container{
    position: relative;
    width:400px;
    padding:15px 10px;
}
.basket-items{
    position: absolute;
    top:50px;
    width:100%;
    background-color: #55e093;
    z-index: 10;
}